
*{
  margin:0px;
  padding: 0px;
}
body{
  background:black;
   color: blue;
   color: #8e5e04;
}
#contenedor{
  width: 1200px;
  height: 1000px;
  background: #525252;
  margin: 0.5em auto;
  background-color:#9cfff199;
}
#myDIV{
  text-align: center;
   font-size: 35px;
   font-size-adjust: 0.58;
}
.nav2{
height: 50%;
position: absolute;
end:23%;
bottom:45%;
left: 2%;
}

#nav{
  height: 10%;
  background:linear-gradient(45deg, #7f050530, #796b6b52, #0000004a);
  border-radius: 1em;
  margin: 1em;
  position: relative;
}

.search {
    background-color: #a480ffe6;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:110%;
    left: 5%;
}
.search span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.search span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.search:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
.search:hover span {
  padding-right: 25px;
}

.search:hover span:after {
  opacity: 1;
  right: 0;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: absolute;
    /* width: 1000px;
    height: 1000px; */
    display: inline-block;
    bottom:30%;
    left: 10%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


#contenido{
  height: 80%;
  background: #c1c1c17d;
  margin: 1em;
}
#contenedorprincipal{
    height: 95%;
    width: 53%;
    background: #6eb7ad;
    float: left;
}
 .selecciona-container{
  display: flex;
  background:linear-gradient(45deg, #8002f200, #7a82bb, #cfff710d);
}

.selecciona-container> div {
  width: 100px;
  height: 40px;
  margin: 20px;
  text-align: center;
  font-size: 40px;
}
.temaimg{
  position: absolute;
  right: 50%;
}
#seccion{
  height: 95%;
  width: 45%;
  float: right;
  border-radius: 0.5em;
  background: #4f8079;

}

.circle10 {
  position: absolute;
  top: 10%;
  right: 80%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #FFFFFF;
}

.circle1 {
  position: absolute;
  top: 10%;
  right: 90%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #FFFFFF;
}
.info{
   text-align: center;
   position: relative;
   /* position: absolute;
   right: 45%; */
  }
  .basemodal{
    position: relative;
    left: 50%;
    top: 2%;
  }
#myBtn{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #040404;
  background-color: #6b8bfa;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #fdfdfd;
}
#myBtn:hover {background-color: #3e8e41}

#myBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.filterDiv {

  background-color: #2196F3;
  color: #ffffff;
  width: 90%;
  height: 20%;
  /* line-height: 100px; */
  text-align: center;
  margin: 2px;
  display: none;
  background:#ea3d3d;
  margin: 2em;
  border-radius: 1em;
  position: relative;
}
.show {
  display: block;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  position: relative;

}
.btn.activeone{
  position: relative;
  float: right;
  background-color: #f44336;
  color: white;
  left: 3%;
}

.mostrar {
  display: block;
}
                                  /* The Modal (background) */
.modal-content {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(181, 103, 103, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-header {
    background-color: #1f1c1cd4;
    margin: auto;
    padding: 20px;
    border: 1px solid #8a8989;
    width: 50%;
    top: 30%;
    right: 20%;
    position: absolute;
}

/* The Close Button */
.close {
    color: #e4b500;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
   .carpetaMobie {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  .contienemp3 {
    margin-top: 20px;
    overflow: hidden;
  }
  /* Style the buttons */
  .boton {
    background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
  }

  .boton:hover {
    background-color: #555555;
    color: white;
  }

  .boton1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    background-color:;

}

  .boton1:hover {
      background-color: #4CAF50;
      color: white;
  }
  .boton2 {
      background-color: white;
      color: black;
      border: 2px solid #008CBA;
  }

  .boton2:hover {
      background-color: #008CBA;
      color: white;
  }

  .boton3 {
      background-color: white;
      color: black;
      border: 2px solid #f44336;
  }

  .boton3:hover {
      background-color: #f44336;
      color: white;
  }
  .boton4 {
      background-color: white;
      color: black;
      border: 2px solid #555555;
  }

  .boton4:hover {
      background-color: #555555;
      color: white;
  }
  .mostrar {
    display: block;
  }


                                          /* primercontenedor */
                                          .containerone{
                                            padding: 100px;
                                          }
                                          .card {
                                            width: 590px;
                                            box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(226, 239, 110);

                                            text-align: center;
                                            position: relative;
                                            left: 5%;
                                            background:black;
                                          }
                                          .registro{
                                            width: 550px;
                                          }
                                          .one-modal {
                                              display: none; /* Hidden by default */
                                              position: fixed; /* Stay in place */
                                              z-index: 1; /* Sit on top */
                                              padding-top: 100px; /* Location of the box */
                                              left: 0;
                                              top: 0;
                                              width: 100%; /* Full width */
                                              height: 100%; /* Full height */
                                              overflow: auto; /* Enable scroll if needed */
                                              background: #82828287; /* Fallback color */

                                          }

                                          /* Modal Content */
                                          .one-header{
                                              background:linear-gradient(45deg, #f2e002, #7abbb5, #ff7171);
                                              margin: auto;
                                              padding: 200px;
                                              border: 1px solid #fff;
                                              width: 38%;
                                              top: 20%;
                                              right: 30%;
                                          }

                                          /* The Close Button */
                                           .cerrar {
                                              color: #000000;
                                              float: right;
                                              font-size: 28px;
                                              font-weight: bold;
                                          }

                                          .cerrar:hover,
                                          .cerrar:focus {
                                              color: #000;
                                              text-decoration: none;
                                              cursor: pointer;
                                          }


                                          #buttonone{
                                            display: inline-block;
                                            padding: 15px 25px;
                                            font-size: 24px;
                                            cursor: pointer;
                                            text-align: center;
                                            text-decoration: none;
                                            outline: none;
                                            color: #fff;
                                            background-color: #29151c;
                                            border: none;
                                            border-radius: 15px;
                                            box-shadow: 0 9px #999;


                                          }
                                          #buttonone:hover {background-color: #3e8e41}

                                          #buttonone:active {
                                            background-color: #3e8e41;
                                            box-shadow: 0 5px #666;
                                            transform: translateY(4px);
                                          }
                                          .modalboton{
                                            position: relative;
                                            left: 82%;
                                            bottom: 20%;
                                          }
                                          .one-modal{
                                              text-align: center;
                                          }
